@namespace url("http://www.w3.org/1999/xhtml");

* {
   font-family: "SF Pro Text", "SF Pro Display", sans-serif !important;
}

pre,
code,
pre *,
code * {
   font-family: "JetBrainsMono Nerd Font", monospace !important;
}

@-moz-document domain("github.com") {
   input.input-monospace,
   .input-monospace,
   .blob-code-inner,
   .blob-code,
   .pl-c,
   .pl-k,
   .pl-s,
   .pl-pds,
   .pl-ent,
   .pl-e,
   .pl-ip
   {
       font-family: "JetBrainsMono Nerd Font", monospace !important;
   }
}
